body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar"
    "Main";
}

.Main {
  grid-area: Main;

  padding: 4rem;
  padding-top: 0rem;
}

ul {
  list-style: none;
  padding: 0;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.image-gallery {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --image-gallery;
  scroll-snap-type: x mandatory;
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-gallery::scroll-button(right),
.image-gallery::scroll-button(left) {
  content: ">";
  border: none;
  font-size: 3rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  position-anchor: --image-gallery;
  position-area: right center;
  translate: -50%;
}

.image-gallery::scroll-button(left) {
  content: "<";
  position-area: left center;
  translate: 50%;
}

.image-gallery img {
  scroll-snap-align: start;
  width: 58%;
  height: auto;
  align-items: center;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .image-gallery img {
    flex: 0 0 100%;
  }
}

.property-name {
  font-family: "Helvetica Neue";
  font-weight: 435;
  font-size: 40px;
  text-align: left;
}
