.property-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.property-name {
  font-size: 29px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
}

.image-gallery {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --image-gallery;
  scroll-snap-type: x mandatory;
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-gallery::scroll-button(right),
.image-gallery::scroll-button(left) {
  content: ">";
  border: none;
  font-size: 3rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  position-anchor: --image-gallery;
  position-area: right center;
  translate: -50%;
}

.image-gallery::scroll-button(left) {
  content: "<";
  position-area: left center;
  translate: 50%;
}

.image-gallery img {
  scroll-snap-align: start;
  width: 90%;

  align-items: center;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .image-gallery img {
    flex: 0 0 100%;
  }
}

.property-location-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.host-info {
  font-weight: 450;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.host_avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.section-divider {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 3rem 0 2rem;
}
.review-card {
  font-family: "Helvetica Neue";
  width: auto;
  max-width: 27rem;
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  text-align: left;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.review-text {
  min-height: 30px;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.review-author {
  font-weight: 400;
  font-size: 16px;
}

.guest_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
