.Header {
  background-color: #f9f9f9;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* grid-area: Header; */
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
}

.Header button {
  color: #ed2222;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.Header img {
  /* background-color: #f9f9f9; */
  height: 55px;
  width: auto;
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.Header button img:hover {
  transform: scale(1.08);
}
