.Header {
  background-color: #f9f9f9;
  align-items: center;
  display: flex;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.logo {
  height: 50px;

  width: auto;
  cursor: pointer;
  transition: tranform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.08);
}

.logo-link {
  display: inline-flex;
  align-items: center;
}
