.property-card {
  font-family: "Helvetica Neue";
  width: auto;
  max-width: 27rem;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  overflow: hidden;
  text-align: left;
}

.property-card-image-wrapper {
  position: relative;
}

.favourite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.favourite-button svg {
  transition: transform 0.3s ease-in-out;
}

.favourite-button :hover {
  transform: scale(1.08);
}

.property-card-image {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.property-card-image:hover {
  transform: scale(1.02);
}

.heart-icon {
  color: white;
  width: 20px;
  height: 20px;
}

.heart-icon.filled {
  color: #ed2222;
}
