.property-card {
  font-family: "Helvetica Neue";
  width: auto;
  max-width: 27rem;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  overflow: hidden;
  text-align: left;
}

.property-card img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.property-card img:hover {
  transform: scale(1.04);
}
