.skeleton {
  animation: pulse 1s infinite ease-in-out;
}

.skeleton-image {
  height: 200px;
  background: #e5e5e5;
  border-radius: 10px;
  margin-bottom: 10px;
}

.skeleton-title {
  height: 12px;
  width: 65%;
  background: #e5e5e5;
  border-radius: 4px;
  margin-bottom: 10px;
}
.skeleton-desc-text {
  height: 12px;
  width: 70%;
  background: #e5e5e5;
  border-radius: 4px;
  margin-bottom: 10px;
}
.skeleton-host-text {
  height: 12px;
  width: 55%;
  background: #e5e5e5;
  border-radius: 4px;
  margin-bottom: 10px;
}
.skeleton-price-text {
  height: 12px;
  width: 45%;
  background: #e5e5e5;
  border-radius: 4px;
  margin-bottom: 10px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
