body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: left;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar"
    "Main";
}

.Header {
  color: #ed2222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: Header;
  align-items: center;
  gap: 20px;
  padding: 1rem 2rem 1rem 2rem;
}

.Header button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.Header img {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.Header button img:hover {
  transform: scale(1.08);
}

.Main {
  grid-area: Main;

  padding: 0 8rem;
}

.filter-bar {
  position: relative;
  border: 0.8px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 2rem;
  width: 70%;
  margin: auto;
}

.filter-bar::after {
  content: "";
  display: block;
  margin-top: 1rem;
  height: 1px;
  background-color: #b4afaf;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.property-card {
  font-family: "Helvetica Neue";
  width: auto;
  max-width: 27rem;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  overflow: hidden;
  text-align: left;
}

.property-card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.property-card img:hover {
  transform: scale(1.02);
}

.property-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 450;
  padding-top: 0.5rem;
  padding-right: 0.2rem;
}

.image-gallery {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --image-gallery;
  scroll-snap-type: x mandatory;
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-gallery::scroll-button(right),
.image-gallery::scroll-button(left) {
  content: ">";
  border: none;
  font-size: 3rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  position-anchor: --image-gallery;
  position-area: right center;
  translate: -50%;
}

.image-gallery::scroll-button(left) {
  content: "<";
  position-area: left center;
  translate: 50%;
}

.image-gallery img {
  scroll-snap-align: start;
  width: 58%;
  height: auto;
  align-items: center;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .image-gallery img {
    flex: 0 0 100%;
  }
}

.property-name {
  font-family: "Helvetica Neue";
  font-weight: 435;
  font-size: 40px;
  text-align: left;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}
