body {
  margin: 0;
}

.App {
  border: 2px solid rgb(17, 124, 190);
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 150px 150px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar"
    "Main";
}

.Header {
  border: 2px solid rgb(17, 190, 37);
  grid-area: Header;
}

.FilterBar {
  border: 2px solid rgb(190, 17, 28);
  grid-area: FilterBar;
}

.Main {
  grid-area: Main;
  border: 2px solid rgb(120, 120, 120);
  padding: 1rem;
}
