body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 100px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar"
    "Main";
}

.Header {
  border: #397ce8;
  grid-area: Header;
  align-items: flex-start;
}

.FilterBar {
  border: 0.5px solid #ccc;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  grid-area: FilterBar;
  border-radius: 8px;
}

.Main {
  grid-area: Main;
  border: 2px solid rgb(120, 120, 120);
  padding: 3rem;
}

.filter-bar {
  border-radius: 20%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.property-card {
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.3);

  border: 0.5px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
