body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "Header"
    "FilterBar"
    "Main";
}

.Header {
  display: flex;
  grid-area: Header;
  align-items: center;
  gap: 20px;
  padding: 1rem 2rem 1rem 2rem;
}

.Header button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.Header img {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.Header button img:hover {
  transform: scale(1.08);
}

.FilterBar {
  border: 0.8px solid #ccc;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  grid-area: FilterBar;
  border-radius: 240px;
}

.Main {
  grid-area: Main;

  padding: 3rem;
}

.filter-bar {
  border-radius: 38%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.property-card {
  /* box-shadow: 0 5px 5px rgba(1, 1, 1, 0.3); */

  /* border: 0.5px solid #ccc; */
  /* padding: 0.5rem;
  border-radius: 10px; */
  overflow: hidden;
  text-align: left;
}

.property-card img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.property-card img:hover {
  transform: scale(1.04);
}

.image-gallery {
  scrollbar-width: auto;
}

.image-gallery img {
  width: 50%;
  height: auto;
  align-items: center;
  border-radius: 10px;
}
