:root {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 0.5;
  font-weight: 200;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
